<div class="container-2">
  <p id="notice"><%= notice %></p>
  <div class="row background-img margin-bottom">
    <div class="col-md-6 col-sm-6 col-xs-12" id="count">
      <h1>Todo List (<%= @incomplete_tasks.count %>) </h1>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 padding">
      <input type="checkbox" class="filled-in" id="checkbox_complete" onchange="valueChanged()" checked="checked" />
      <label for="checkbox_complete">Hide completed Tasks</label>
    </div>
  </div>

  <%= link_to 'New Task', new_task_path, id: "new_link", remote: true, class: "btn btn-success margin-top" %>

  <div class="tasks" id="incomplete_tasks">
    <div class="margin-bottom">
      <h2>Incomplete Tasks</h2>
    </div>
    <%= render @incomplete_tasks %>
  </div>
  <div class="tasks" id="complete_tasks">
    <div class="margin-bottom">
      <h2>Complete Tasks</h2>
    </div>
    <%= render @complete_tasks %>
  </div>
</div>
